# Copyright (c) 2026 UMD Loop
# SPDX-License-Identifier: Apache-2.0

menu "UMD Loop drivers"

rsource "rgb_led/Kconfig"
rsource "servo/Kconfig"
rsource "tone/Kconfig"
rsource "comms/Kconfig"

endmenu
